body{
  background-color: #0f3057;
}


html, body {
  margin: 0;
   height: 100%;
  overflow: hidden
}
h3{
  position: relative;
  color: #008891;
  top: 600px;
}
h2{
  color: #0f3057;
}

p{
  position: absolute;
  font-size: 100px;
  top:.5%;
  right:1%;
}

.box{
  background-color: #00587a;
  height: 150px;
  width: 150px;
  position: absolute;
  font-size: 100px;
}

.Container{
  position: absolute;
  left:8%;
  top:10%;
}

.b1{

}

.b2{
left: 136px;
}

.b3{
left: 287px;
}

.b4{
top:151px;
}

.b5{
left: 136px;
top:151px;
}

.b6{
left: 287px;
top:151px;
}

.b7{
top:302px;
}

.b8{
left: 136px;
top:302px;
}

.b9{
left: 287px;
top:302px;
}

.pick{
z-index: 1;
position:relative;
top:205px;
left:135px;
margin:0 20px;
}

.pickBTN{
height:50px;
width:50px;
}

.restartBTN{
  position: absolute;
  z-index: 2;
  left:86px;
  top: 454px;
  background-color: #008891;
  width: 250px;
  height: 50px;
}
.restartBTN:hover{
  background-color: gray;
}

.centered {
      position: relative;
      left: 33%;
      top:120px;
  }

  .centered2 {
        position: absolute;
        /* left: 50%; */

        transform: translateX(-50%, -50%);
        z-index: 2;
    }

    .infoPos{
      position: relative;
      left: 184px;
      bottom: 200px;
      z-index: 2;
    }

    .diffPos{
      position: relative;
      right:20px;
      bottom: 280px;
      z-index: 2;
    }

    @media only screen and (min-width: 1650px) and (max-width: 4000px) {
      .centered {
            position: relative;
            left: 45%;
            top:120px;
      }
    }

    @media only screen and (min-width: 1550px) and (max-width: 1649px) {
      .centered {
            position: relative;
            left: 35%;
            top:120px;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1549px) {
      .centered {
            position: relative;
            left: 25%;
            top:120px;
            zoom:100%;
        }
    }

        @media only screen and (min-width: 1px) and (max-width: 600px) {
          .centered {
                position: relative;
                left: 7%;
                top:120px;
            }
        }
